@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");

/* Defaults */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* VARIABLES */

:root {
    --secondary-color: #20498a;
}

/* BASIC STYLES */

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    scroll-behavior: smooth;
}

.main-container {
    width: 85%;
    max-width: 1130px;
    margin: auto;
}

.section-heading {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 0 4rem 1rem 4rem;
    position: relative;
}

.section-heading::after {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: 0px;
    max-width: 300px;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
}

/* HERO SECTION */

.hero-section {
    background-image: url(./images//pexels-lukas-574071.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-top: 6.3rem;
}

.hero-section::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.8;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in-out;
}

.nav-scrolled {
    background: white;
    color: black;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar > ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 1.8rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid transparent;
}

.navbar li:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.nav-scrolled li:hover {
    border-bottom: 1px solid black;
}

.main-intro {
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.main-intro .intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.main-intro img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
}

.main-intro .intro-text {
    max-width: 25rem;
}

.main-intro h2 {
    font-size: 1.7rem;
    font-weight: bold;
}

.main-intro h2 span {
    font-weight: lighter;
}

.main-intro p {
    margin-top: 0.4rem;
    font-size: 0.9rem;
}

.main-intro .buttons {
    margin-top: 2.5rem;
}

.main-intro .buttons a {
    background-color: var(--secondary-color);
    padding: 0.8rem 1.8rem;
    border-radius: 0 5px 5px 0;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0.3rem;
}

.main-intro .scroll-button-container {
    display: block;
    margin-top: 7rem;
    text-align: center;
}

.main-intro .scroll-down-button {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgb(53, 53, 53);
}

.main-intro .scroll-down-button:hover {
    cursor: pointer;
    background: transparent;
}

.main-intro .links ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 4rem;
    top: 12rem;
    gap: 4rem;
}

.main-intro .links i {
    transition: opacity 0.2s ease-in-out;
    font-size: 1.1rem;
}

.main-intro .links i:hover {
    opacity: 0.3;
}

/* ABOUT SECTION */

.about-section {
    background-color: rgb(27, 27, 27);
    padding: 6rem 0;
}

.heading-container {
    text-align: center;
}

.about-section .section-content {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.section-content > .image-container {
    width: 35%;
    order: 2;
}

.section-content .text-container {
    flex: 1;
    padding-right: 4rem;
    order: 1;
}

.text-container h3 {
    display: inline-block;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--secondary-color);
}

.text-container .profession {
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-top: 0.3rem;
    font-weight: 500;
}

.text-container p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    margin-top: 1.6rem;
}

.text-container a {
    display: inline-block;
    background-color: rgb(44, 44, 44);
    padding: 1rem;
    margin-top: 2rem;
    font-family: "Teko", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.about-section img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

/* SERVICES SECTION */

.services-section {
    background-color: rgb(22, 22, 22);
    padding: 6rem 0;
}

.services-section .services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.services-container .service-item {
    flex-basis: 31.5%;
    padding: 4rem 1.5rem;
    background-color: rgb(42, 42, 46);
    border-radius: 3px;
    margin: 1rem 0;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.services-container .service-item:hover {
    border-bottom: 3px solid var(--secondary-color);
}

.service-item i {
    font-size: 1.7rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background: gray;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.service-item:hover i {
    background-color: var(--secondary-color);
}

.service-item h6 {
    font-size: 1rem;
    margin-top: 1.7rem;
}

.service-item p {
    font-size: 0.85rem;
    margin-top: 0.9rem;
}

/* WORK AND EDUCATION SECTION */

.work-and-education-section {
    background-color: rgb(27, 27, 27);
    padding: 6rem 0;
}

.work-and-education-section .section-content {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.work-and-education-section .section-content > * {
    flex-basis: 49%;
    padding: 3rem 4rem;
    background-color: rgb(14, 18, 27);
}

.work-container .work-item {
    display: block;
    margin-bottom: 2rem;
}

.work-item p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    margin-top: 0.9rem;
}

.work-item .timeline {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.3rem 0.8rem;
    background-color: var(--secondary-color);
    font-weight: bold;
    margin-top: 0.9rem;
}

/* SKILLS SECTION */

.skills-section {
    background-color: rgb(22, 22, 22);
    padding: 6rem 0;
}

.skills-section .section-content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.skill-item i {
    font-size: 5rem;
    margin: 2rem;
    display: inline-block;
}

.skill-item:nth-child(5) i,
.skill-item:nth-child(7) i,
.skill-item:nth-child(11) i {
    font-size: 8rem;
}

/* RECENT PROJECTS SECTION */

.recent-projects-section {
    background-color: rgb(14, 18, 27);
    padding: 6rem 0;
}

.recent-projects-section .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

.recent-projects-section .project-item {
    flex-basis: 32%;
    margin-bottom: 1rem;
    position: relative;
    /* z-index: 0; */
}

.project-item img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
}

.project-item .hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    border-radius: 5px;
}

.project-item:hover .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hover-content h4 {
    font-size: 1.1rem;
}

.hover-content h5 {
    margin-top: 0.7rem;
}

/* FOOTER */

.footer {
    background-color: rgb(22, 22, 22);
    padding: 2rem 0;
    text-align: center;
}

.footer .links ul {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 1.5rem;
}

.footer ul li i {
    font-size: 1rem;
    background: rgb(40, 40, 43);
    border-radius: 50%;
    padding: 1rem;
}

.footer p {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .about-section .section-content .image-container {
        width: 40%;
    }
}

@media (max-width: 991px) {
    .hero-section .links {
        display: none;
    }

    .about-section .section-content .image-container {
        display: none;
    }

    .about-section .section-content .text-container {
        padding-right: 0;
    }

    .services-container .service-item {
        flex-basis: 48%;
    }

    .work-and-education-section .section-content {
        flex-direction: column;
        gap: 2rem;
    }

    .recent-projects-section .project-item {
        flex-basis: 48%;
    }
}

@media (max-width: 800px) {
    .intro-content {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .services-container .service-item {
        flex-basis: 100%;
    }

    .skill-item i {
        font-size: 5rem;
        margin: 2rem;
        display: inline-block;
    }

    .skill-item:nth-child(5) i,
    .skill-item:nth-child(7) i,
    .skill-item:nth-child(11) i {
        font-size: 6rem;
    }

    .recent-projects-section .section-content {
        gap: 1rem;
    }

    .recent-projects-section .project-item {
        flex-basis: 98%;
    }
}

@media (max-width: 450px) {
    .section-heading {
        font-size: 1.8rem;
    }

    .work-and-education-section .section-content > * {
        padding: 3rem 2rem;
    }
}
