@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* VARIABLES */

:root {
    --orange: rgb(252, 99, 11);
}

/* BASIC STYLES */

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.main-container {
    width: 85%;
    max-width: 1130px;
    margin: auto;
}

.section-heading {
    display: inline-block;
    font-size: 2.5rem;
    padding: 0 4rem 1rem 4rem;
    position: relative;
}

.section-heading::after {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    content: "";
    bottom: 0px;
    max-width: 300px;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));
}

/* HERO SECTION */

.hero-section {
    background-image: url(./images//pexels-lukas-574071.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-section::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.8;
    z-index: -1;
}

.navbar > ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 2.5rem 1.2rem;
}

.main-intro {
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main-intro h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
}

.main-intro h1 {
    font-size: 3.2rem;
    margin-top: 2rem;
}

.main-intro .buttons {
    margin-top: 2.5rem;
}

.main-intro .buttons a {
    background-color: var(--orange);
    padding: 0.8rem 1.8rem;
    border-radius: 30px;
    margin: 0.3rem;
}

.main-intro .scroll-down-button {
    display: inline-block;
    margin-top: 7rem;
}

.links ul {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

/* ABOUT SECTION */

.about-section {
    background-color: rgb(27, 27, 27);
    padding: 6rem 0;
}

.heading-container {
    text-align: center;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
}

.section-content > .image-container {
    width: 30%;
    text-align: center;
}

.section-content .text-container {
    width: 70%;
}

.text-container h3 {
    font-size: 1.5rem;
}

.text-container .profession {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.text-container p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    margin-top: 1.6rem;
}

.text-container a {
    display: inline-block;
    background-color: rgb(44, 44, 44);
    padding: 1rem;
    margin-top: 2rem;
}

.about-section img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    object-fit: cover;
}

/* SERVICES SECTION */

.services-section {
    background-color: rgb(22, 22, 22);
    padding: 6rem 0;
}

.services-section .services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.services-container .service-item {
    flex-basis: 31.5%;
    padding: 3rem 1.5rem;
    background-color: rgb(42, 42, 46);
    border-radius: 3px;
    margin: 1rem 0;
    text-align: center;
}

.service-item i {
    font-size: 3rem;
}

.service-item h6 {
    font-size: 1rem;
    margin-top: 1rem;
}

.service-item p {
    font-size: 0.9rem;
    margin-top: 1rem;
}

/* WORK AND EDUCATION SECTION */

.work-and-education-section {
    background-color: rgb(27, 27, 27);
    padding: 6rem 0;
}

.work-and-education-section .section-content {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.work-and-education-section .section-content > * {
    flex-basis: 49%;
    padding: 3rem 4rem;
    background-color: rgb(14, 18, 27);
}

.work-container .work-item {
    margin-bottom: 3rem;
}

.work-item p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    margin-top: 0.9rem;
}

.work-item .timeline {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.3rem 0.8rem;
    background-color: var(--orange);
    font-weight: bold;
    margin-top: 0.9rem;
}

/* SKILLS SECTION */

.skills-section {
    background-color: rgb(22, 22, 22);
    padding: 6rem 0;
}

.skills-section .section-content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* RECENT PROJECTS SECTION */

.recent-projects-section {
    background-color: rgb(22, 22, 22);
    padding: 6rem 0;
}

.recent-projects-section .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

.recent-projects-section .project-item {
    flex-basis: 32%;
    margin-bottom: 1rem;
    position: relative;
    /* z-index: 0; */
}

.project-item img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
}

.project-item .hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    border-radius: 5px;
}

.project-item:hover .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hover-content h4 {
    font-size: 1.1rem;
}

.hover-content h5 {
    margin-top: 0.7rem;
}